name: Main CI workflow

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  NIX_CONFIG: "experimental-features = nix-command flakes"

jobs:
  ci:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.1

      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v28

      - name: Restore and cache Nix store
        uses: nix-community/cache-nix-action@v5.1.0
        with:
          # restore and save a cache using this key
          primary-key: cache-${{ hashFiles('.github/workflows/main.yml') }}
          paths: |
            deps
            _build

      - name: Setup dependencies
        run: |
          nix develop -c mix deps.get

      - name: formatting
        run: |
          nix develop -c make check-formatting

      - name: credo
        run: |
          nix develop -c make credo

      - name: compile
        run: |
          nix develop -c make compile

      - name: test
        run: |
          nix develop -c make test

      - name: nix-build
        run: |
          make nix-build

      - name: nix-check
        run: |
          make nix-check
